body {
  background-color: white;
  width: 400px;
  height: 400px;
  text-align: center;
  padding: 10px 10px;
}


.container {
  display: flex;
  flex-direction: column;
}

#search-bar {
  width: 300px;
  line-height: 1.9;
}

h5 {
  font-size: 20px;
}

#savedList {
    display: flex;
    align-items: center;
    align-content: space-between;
}

#saved-list {
  margin: 10px 0; /* Optional spacing for the list */
}

.saved-item {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Push items apart */
  padding: 5px; /* Add some padding for aesthetics */
}

.hidden {
  display: none;
}

